body {
    font-family: 'Source Code Pro', monospace;
    background-color: #282c34;
    color: #abb2bf;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    padding: 40px;
    background-color: #21252b;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 100%;
}

h1 {
    color: #e06c75;
    font-size: 48px;
    margin-bottom: 10px;
}

h2 {
    color: #d19a66;
    font-size: 32px;
    margin-top: 40px;
}

p {
    font-size: 20px;
    line-height: 1.6;
}

a {
    color: #61afef;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.bracket {
    color: #56b6c2;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #21252b;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
}

.progress {
    width: 50%;
    height: 100%;
    background-color: #98c379;
    animation: progress 2s ease-in-out infinite;
}




.email-address {
    color: #61afef;
    user-select: all;
    display: inline-block; /* Aggiunto */
}

.email-redirect {
    margin-left: 5px; /* Ridotto il margine */
    color: #98c379;
    text-decoration: none;
    user-select: none;
    display: inline-block; /* Aggiunto */
}

@keyframes progress {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}